@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-weight: 300;
  font-family: 'Noto Sans Korean', sans-serif;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

caption {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

thead {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

th {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

canvas {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

details {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

embed {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

menu {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

output {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

summary {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

time {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

mark {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

audio {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 300;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p, blockquote, pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

dt {
  font-weight: 400;
}

dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

p {
  letter-spacing: -0.025em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover, a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  decoration: none;
}

input[type="checkbox"] {
  margin: 0;
}

input, label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Remove the stupid outer glow in Webkit */

input:focus {
  outline: 0;
}


/* Button Controls
-----------------------------------------------*/

input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px;
}


/* Make webkit render the search input like a normal text field */

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}


/* Turn off the recent search for webkit. It adds about 15px padding on the left */

::-webkit-search-decoration {
  display: none;
}


/* IE8 and FF freak out if this rule is within another selector */

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

button {
  cursor: pointer;
}


/* Textarea
-----------------------------------------------*/

textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 5px 10px;
  height: 100px;
}

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

input, select {
  height: 40px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 5px 10px;
}

select {
  background: #fff url("../images/ic_select.png") no-repeat right 10px center;
  background-size: 12px 6px;
  padding: 5px 20px 5px 10px;
}

body, html {
  height: 100%;
  font-size: 16px;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 111;
}

.header .wrap {
  height: 52px;
  width: 100%;
  background: #1777cb;
}

.header .page_title {
  height: 45px;
  background: #fff;
  line-height: 45px;
  font-weight: 600;
  border-bottom: 1px solid #1777cb;
}

.header .left_menu {
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.header .left_menu img {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 22px;
}

.header .logo .title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 52px;
  display: inline-block;
}

.container {
  min-height: 500px;
  width: 100%;
  padding-top: 52px;
  border-bottom: 1px solid #dfdfdf;
  background: #f5f5f5;
}

.container.detail {
  padding-top: 100px;
}

.container .wrap {
  max-width: 640px;
  padding: 15px;
  margin: 0 auto;
  min-height: 400px;
}

.container .menu {
  padding: 30px 0;
  font-size: 0;
  width: 300px;
  margin: 0 auto;
}

.container .menu li {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
}

.container .menu li a {
  width: 138px;
  height: 138px;
  background: #fff;
  position: relative;
  border-radius: 138px;
  display: inline-block;
  border: 3px solid #223a7a;
  padding-top: 88px;
}

.container .menu li a.two-rows {
  padding-top: 80px;
}

.container .menu li a p {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.container .menu li img {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 13px;
  left: 33px;
}

.footer {
  position: relative;
  padding: 17px 0 17px 15px;
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
}

.footer .kakao {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 17px;
  left: 15px;
}

.footer .company_info {
  padding-left: 70px;
  font-size: 12px;
  color: #666666;
  line-height: 1.5;
}

.btn.blue {
  cursor: pointer;
  background: #223a7a;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  height: 40px;
}

.search-wrap {
  font-size: 0;
  position: relative;
}

.search-wrap .search {
  padding-right: 73px;
  padding-bottom: 15px;
}

.search-wrap .search.type {
  padding-left: 92px;
}

.search-wrap .search.type .search_type {
  width: 82px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.search-wrap .search.array {
  padding-left: 50px;
}

.search-wrap .search.array .array-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid #bcbcbc;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.search-wrap .search.array .array-btn img {
  width: 14px;
}

.search-wrap .search input {
  width: 100%;
  padding: 5px 10px;
  margin-right: 2%;
}

.search-wrap .search .btn {
  width: 63px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.search-wrap .result .info {
  font-size: 14px;
  color: #777;
  padding: 0 0 10px;
}

.search-wrap .result .info span {
  color: #1777cb;
  font-size: 17px;
  font-weight: 600;
}

.search-wrap .result .street {
  padding-bottom: 10px;
}

.search-wrap .result .number, .search-wrap .result .street {
  position: relative;
}

.search-wrap .result .address_catagory {
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background: #e7e7e7;
  border-radius: 4px;
}

.search-wrap .result .address_text {
  padding-left: 54px;
  padding-right: 50px;
}

.search-wrap .result .zip_code {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 17px;
  color: #1777cb;
  font-weight: 600;
}

.list-groub {
  font-size: 14px;
  color: #444444;
}

.list-groub li {
  position: relative;
  padding: 10px 24px 10px 30px;
  border-bottom: 1px solid #bcbcbc;
}

.list-groub li .checkbox {
  position: absolute;
  top: 15px;
  left: 10px;
}

.list-groub.address_list li {
  padding: 10px 24px 10px 10px;
}

.header-btn {
  position: absolute;
  top: 12px;
  cursor: pointer;
}

.header-btn img {
  width: 29px;
  height: 29px;
}

.header-btn.left {
  left: 15px;
}

.header-btn.right {
  right: 15px;
}

.sub_text {
  font-size: 12px;
  color: #999999;
}

.sub_text span {
  padding-left: 5px;
}

.list_wrap {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid #bcbcbc;
}

.list_wrap .list-groub .title {
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  padding-bottom: 5px;
}

.list_wrap .list-groub .title span {
  padding-right: 5px;
}

.list_wrap .notice {
  background: #edf2f8;
}

.list_wrap .ic_new {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-left: 3px;
}

.list_wrap .ic_lock {
  width: 10px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}

.list_wrap .all_select {
  position: absolute;
  bottom: 94px;
  left: 25px;
}

.list_wrap .all_select input {
  margin-right: 5px;
}

.list_wrap .ic_reply {
  width: 11px;
  margin-right: 5px;
}

.goods_list_wrap .goods_list {
  font-size: 0;
}

.goods_list_wrap .goods_list li {
  width: 49%;
  position: relative;
  height: 309px;
  border-radius: 10px;
  display: inline-block;
  background: #fff;
  border: 1px solid #bcbcbc;
  overflow: hidden;
}

.goods_list_wrap .goods_list li .thumb-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  color: #fff;
  font-size: 15px;
  width: 100%;
  overflow: hidden;
}

.goods_list_wrap .goods_list li .thumb-btn.register-btn {
  background: #ff6b3d;
}

.goods_list_wrap .goods_list li .thumb-btn.edit-btn {
  background: #1777cb;
}

.goods_list_wrap .goods_list li:first-child {
  margin-right: 2%;
}

.goods_list_wrap .goods_list li .thumb {
  width: 100%;
  max-width: 140px;
  height: 140px;
  margin: 0 auto;
}

.goods_list_wrap .goods_list li .thumb img {
  width: 100%;
  height: 100%;
}

.goods_list_wrap .goods_list li .info {
  border-top: 1px solid #bcbcbc;
  padding: 15px;
}

.goods_list_wrap .goods_list li .info .title {
  font-size: 13px;
  color: #555555;
  font-weight: 400;
  overflow: hidden;
  line-height: 17px;
  height: 54px;
}

.goods_list_wrap .goods_list li .price {
  padding-top: 10px;
  font-weight: 600;
  font-size: 16px;
}

.goods_list_wrap .goods_list li .price.register {
  color: #ff6b3d;
}

.goods_list_wrap .goods_list li .price.edit {
  color: #1777cb;
}

.qna_detail .top {
  padding: 15px;
  border-bottom: 1px solid #bcbcbc;
}

.qna_detail .title {
  font-size: 22px;
  font-weight: 600;
  color: #222222;
  padding-bottom: 10px;
}

.qna_detail .content {
  padding: 30px 15px;
  font-size: 16px;
  color: #444444;
  line-height: 1.6;
}

.container .btn-wrap {
  padding-bottom: 100px;
  position: relative;
}

.blue_text {
  color: #1777cb;
}

.add_btn {
  width: 100%;
  height: 54px;
  font-weight: 600;
  font-size: 15px;
  color: #1777cb;
  text-align: center;
  background: none;
  cursor: pointer;
}

.btn-groub {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 51px;
  font-size: 0;
  z-index: 111;
}

.btn-groub .col-2 {
  width: 50%;
}

.btn-groub .col-3 {
  width: 33.3333%;
}

.btn-groub button {
  height: 51px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.btn-groub .deep-btn {
  color: #fff;
  background: #223a7a;
}

.btn-groub .blue-btn {
  background: #1777cb;
  color: #fff;
}

.btn-groub .glay-btn {
  background: #9e9e9e;
  color: #fff;
}

.sports_list {
  font-size: 0;
}

.sports_list li {
  display: inline-block;
  width: 33.3333%;
  height: 40px;
  overflow: hidden;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #bcbcbc;
}

.sports_list li a {
  font-size: 13px;
  color: #222222;
  line-height: 39px;
}

.sports_list li:nth-child(13), .sports_list li:nth-child(14) {
  border-bottom: 0;
}

.sports_list li:nth-child(3n-1) {
  border-right: 1px solid #bcbcbc;
  border-left: 1px solid #bcbcbc;
}

.goods_detail .thumb {
  width: 290px;
  height: 290px;
  margin: 0 auto;
}

.goods_detail .thumb img {
  width: 100%;
  height: 100%;
}

.goods_detail .info {
  padding: 15px;
}

.goods_detail .info .title {
  font-size: 22px;
  font-weight: 600;
  color: #222;
  padding-bottom: 10px;
}

.goods_detail .info .sub_text {
  font-size: 15px;
  color: #777777;
}

.goods_option {
  position: relative;
  background: #edf2f8;
  padding: 15px;
}

.goods_option .blue_text {
  font-size: 14px;
  padding-bottom: 5px;
}

.select_wrap {
  padding-bottom: 15px;
  font-size: 0;
}

select.col-2 {
  width: 49%;
}

select.col-2:first-child {
  margin-right: 2%;
}

.price_wrap {
  font-size: 14px;
  color: #1777cb;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.price_wrap .price {
  font-size: 25px;
  font-weight: 600;
}

.price_wrap .won {
  color: #999999;
}

.count_input {
  position: relative;
  width: 102px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f2f2f2;
}

.count_input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 27px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  color: #4d4d4d;
  text-decoration: none;
  cursor: pointer;
}

.count_input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}

.count_input input {
  width: 42px;
  position: absolute;
  right: 30px;
  left: 30px;
  height: 100%;
  top: 0;
  bottom: 0;
  background: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  border-radius: 0;
  border-bottom: 0;
  border-top: 0;
}

.goods_detail_title {
  background: #f1f1f1;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding-left: 15px;
}

.detail_contents {
  padding: 15px;
  font-size: 14px;
  color: #444444;
}

.detail_contents img {
  width: 100%;
}

.detail_contents dl {
  padding-top: 15px;
}

.detail_contents dt {
  font-weight: 600;
  padding-bottom: 3px;
}

.detail_contents dd {
  padding-bottom: 10px;
}

.register_list {
  padding: 15px;
}

.register_list li {
  font-size: 14px;
  position: relative;
  padding-bottom: 15px;
}

.register_list li input, .register_list li textarea {
  width: 100%;
}

.register_list li .blue_text {
  line-height: 25px;
  height: 30px;
  padding-bottom: 5px;
  display: block;
}

.register_list li textarea {
  margin-bottom: 10px;
}

.register_list li .input_btn_wrap {
  padding-right: 82px;
}

.register_list li .input_btn_wrap .line-btn {
  position: absolute;
  right: 0;
  bottom: 15px;
  background: #fff;
  height: 40px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  width: 72px;
}

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.has-active-menu {
  overflow: hidden;
}

.c-menu--slide-left {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left {
    width: 300px;
  }
}

.c-menu--slide-left .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1;
}

.c-menu--slide-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-left .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

.c-menu--slide-left .c-menu__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
}

.c-menu--slide-left .c-menu__close img {
  width: 20px;
  height: 20px;
}

.profile {
  background: #fff;
}

.profile p {
  font-size: 14px;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile .photo {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin-bottom: 6px;
  vertical-align: middle;
  margin-right: 10px;
}

.login_wrap {
  background: #f1f1f1;
  font-size: 0;
  padding: 0 15px;
  border-top: 1px solid #bcbcbc;
}

.login_wrap a {
  font-size: 14px;
  padding: 10px;
  color: #000;
  text-align: center;
  width: 50%;
  display: inline-block;
}

.login_wrap a:first-child {
  border-right: 1px solid #bcbcbc;
}


/** Slide/Push Menu Left. */

.c-menu--slide-left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

.c-menu--slide-left.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}


/** Slide/Push Menu Right. */

.c-menu--slide-right {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-right {
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
  }
}

.c-menu--slide-right.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.c-menu--slide-top, .c-menu--slide-bottom, .c-menu--push-top, .c-menu--push-bottom {
  vertical-align: middle;
  width: 100%;
  height: 60px;
  text-align: center;
  overflow-x: scroll;
}

.c-menu--slide-top .c-menu__close, .c-menu--slide-bottom .c-menu__close, .c-menu--push-top .c-menu__close, .c-menu--push-bottom .c-menu__close {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: 60px;
  line-height: 60px;
}


/** Slide/Push Menu Top. */

.c-menu--slide-top, .c-menu--push-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
}

.c-menu--slide-top.is-active, .c-menu--push-top.is-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}


/** Slide/Push Menu Bottom. */

.c-menu--slide-bottom, .c-menu--push-bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
}

.c-menu--slide-bottom.is-active, .c-menu--push-bottom.is-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.menu_list>li {
  background: #1777cb;
  text-align: center;
}
.menu_list>li:last-child {
  border-bottom: 1px solid #bcbcbc;
}
.menu_list>li>a {
  color: #fff;
  font-weight: 600;
  line-height: 42px;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #5e9ace;
}

.menu_list>li ul {
  background: #fff;
  font-size: 0;
  text-align: left;
}

.menu_list>li ul li {
  display: inline-block;
}

.menu_list>li ul.col-2 li {
  text-align: center;
  width: 50%;
  height: 36px;
}

.menu_list>li ul.col-2 li a {
  font-size: 13px;
  color: #222;
  line-height: 36px;
  display: inline-block;
}

.menu_list>li ul.col-2 li:nth-child(2n-1) {
  border-right: 1px solid #bcbcbc;
}

.menu_list>li ul.col-2 li .icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.menu_list>li ul.more li {
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px solid #bcbcbc;
}

.menu_list>li ul.more li:last-child,.menu_list>li ul.more li:nth-child(13) {
  border-bottom: 0;
}

.menu_list>li ul.col-3 li {
  width: 33.3333%;
  text-align: center;
  padding: 5px 0;
}

.menu_list>li ul.col-3 li:nth-child(2) {
  border-right: 1px solid #bcbcbc;
  border-left: 1px solid #bcbcbc;
}

.menu_list>li ul.col-3 li a {
  color: #222;
  line-height: 1.4;
  font-size: 10px;
  letter-spacing: -1px;
  text-align: center;
}

.menu_list>li ul.col-3 li a img {
  width: 40px;
  height: 40px;
}
