h2.chy-chartHeader {
	text-align: center;
}

span.chy-year {
	font-size: 40px;
	color: #1F4E79;
	margin: 20px 20px 0px;
}

div.chy-chartBody {
	border-top: 2px solid #BFBFBF;
	border-bottom: 2px solid #BFBFBF;
	width: 100%;
	height: 300px;
	margin-bottom: 30px;
	background-color: #ECF0F4;
}

div.chy-select {
	height: 35px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.chy-select select {
	float: right;
}

div.chy-bottom {
	padding-bottom: 30px;
}

@media screen and (max-width: 320px) {
	div.chy-TableHead{
		font-size: 13px;
	}
	
	div.chy-TableBody{
		font-size: 12px;
	}
	h2.chy-chartHeader input{
		width : 290px;
	}
}

@media screen and (min-width:321px) and (max-width:375px){
	div.chy-TableHead{
		font-size: 15px;
	}
	
	div.chy-TableBody{
		font-size: 14px;
	}
	h2.chy-chartHeader input{
		width : 290px;
	}
	
	div.chy-TableCell:first-child{
		width:18%;
	}
}

@media screen and (min-width:376px) and (max-width:420px){
	div.chy-TableHead{
		font-size: 17px;
	}
	
	div.chy-TableBody{
		font-size: 15px;
	}
	
	div.chy-TableCell:first-child{
		width:20%;
	}
}

.chy-Table {
	display:table;
	width:100%;
}
.chy-TableHead {
	display:table-header-group;
	background-color: #1777	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: white;
}
.chy-TableBody {
	display:table-row-group;
	background-color: white;
	color:black;
	text-align: center;
}
.chy-TableRow {
	display:table-row;
	border-bottom: 1px solid #1777CB;
}
.chy-TableCell:first-child{
	width:15%;
}
.chy-TableCell {
	display:table-cell;
	border-right:1px solid white;
	border-radius: 4px;
	width:25%;
}
.chy-TableRow:nth-child(even) {
	background-color: #E1E1E1;
	}
	.chy-headerWeek{
		font-size: 35px;
		color: #1777CB;
	}
	a.chy-btnSuccess{
		height:30px;
		padding: 5px;
		margin-bottom: 1px;
	}
