@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* 
	유저 CSS 시작
 */
.width80 {
	width: 80%;
}

.width100 {
	width: 100%;
	font-size: 16px;
}
.logout_wrap {
  background: #f1f1f1;
  font-size: 0;
  padding: 0 15px;
  border-top: 1px solid #bcbcbc;
}
.logout_wrap a {
  font-size: 14px;
  padding: 10px;
  color: #000;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.user_title{
	height : 50px;
	text-align : center;
}
.user_title p{
	font-size : 15px;
	height : 100%;
	width : 100%;
}
.user_title p b{
	font-size : 18px;
}

.more-type{
	background : #1777cb;
	height : 40px;
	text-align : center;
}
.moremore{
	display: inline-block;
	width:100%;
	height: 100%;
	color : #fff;
	font-size : 20px;
	line-height: 42px;
}
.menulist>li {
  text-align: center;
}
.menulist>li ul li {
  display: inline-block;
}
.menulist>li ul.theader li {
  text-align: center;
  width: 26.6%;
  height: 36px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background-color : #1777cb;
}
.menulist>li ul.theader li:nth-child(1) {
  text-align: center;
  width: 10%;
  height: 36px;
}
.menulist>li ul.theader li:nth-child(2) {
  text-align: center;
  width: 10%;
  height: 36px;
}
.menulist>li ul.theader li p {
  font-size: 15px;
  color: #ffffff;
  line-height: 36px;
  display: inline-block;
}
.menulist>li ul.col-5 li {
  text-align: center;
  width: 26.6%;
  height: 36px;
  background-color : #ffffff;
  border-bottom: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
}
.menulist>li ul.col-5 li:nth-child(1) {
  text-align: center;
  width: 10%;
  height: 36px;
}
.menulist>li ul.col-5 li:nth-child(2) {
  text-align: center;
  width: 10%;
  height: 36px;
}
.menulist>li ul.col-5 li p {
  font-size: 15px;
  color: #222;
  line-height: 36px;
  display: inline-block;
}
.menulist>li input.chkbox {
	width : 17px;
	height : 17px;
}
@media screen and (max-width: 413px) {
	.menulist>li ul.theader li p{
		font-size: 12px;
	}
	.menulist>li ul.col-5 li p{
		font-size: 11px;
	}
}
div.user-detail-table {
	display: table;
	width: 100%;
}

div.user-detail-row {
	display: table-row;
	height: 40px;
}

div.user-detail-cell1 {
	display: table-cell;
	background-color: #1777cb;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	width: 20%;
	color: #fff;
	text-align: center;
	vertical-align:middle;
}
div.user-detail-cell2 {
	display: table-cell;
	background-color: #ffffff;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	width: 80%;
	vertical-align:middle;
}

.user-detail-cell1 span {
	font-size: 15px;
}

.user-detail-cell2 span {
	margin-left: 10px;
	font-size: 15px;
}
@media screen and (max-width: 380px){
	.user-detail-cell1 span {
	font-size: 12px;
}

.user-detail-cell2 span {
	font-size: 12px;
}
	
}

/* 
	유저 CSS 끝
 */
/* 
	프로덕트 CSS 시작
 */ 
 .filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox .upload-name {
	width: 80%;
	display: inline-block;
	padding: .5em .75em;
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none;
	-moz-appearance: none;
	ppearance: none;
}

.filebox.bs3-primary label {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.filebox.bs3-primary {
	width: 100%;
}

.select-80{
	width : 80%;
}
.select-btn{
	display: inline-block;
	background-color : #1777cb;
	color : #ffffff;
	margin-left : 10px;
	height : 40px;
	width : 15%;
	font-size: 14px;
 	border-radius: 5px;
}
.input_btn_wrap .opt-line-btn {
  position: absolute;
  right: 0;
  background: #fff;
  height: 40px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  width: 72px;
}
div.col-2-group{
	margin-top :10px;
	width : 100%;
	height: 40px;
}
div.col-2-group a{
	display: inline-block;
 	width : 50%;
 	height: 100%;
 	font-size : 20px;
 	text-align : center;
 	line-height: 42px;
}
div.col-2-group a:nth-child(1){
	border-right : 2px solid #F5F5F5;
	background-color : #1777CB;
	color : #fff;
}
div.col-2-group a:nth-child(2){
	border-left : 2px solid #F5F5F5;
	background-color : #9E9E9E;
	color : #fff;
}

/*  
 	프로덕트 CSS 끝
 */