<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="com.sports.persistance.mapper.NoticeMapper">

	<!-- 게시판 리스트 쿼리 -->
	
	<select id="getNoticeList"  resultType="NoticeDTO">
	SELECT N.NOTICE_NO, N.USER_NO, N.TITLE, N.CONTENTS, N.NOTICE_YN, N.REG_USER_NO, N.REG_DT, N.CHG_USER_NO, N.CHG_DT,
	U.USER_NAME  
	FROM NOTICE_INFO N 
	JOIN USER_INFO U 
	USING(USER_NO)
	ORDER BY NOTICE_YN, NOTICE_NO DESC
	LIMIT 6
	</select>
	
	<!-- 게시글 등록 쿼리 -->
	<insert id="InsertNoticeInfo" parameterType="NoticeDTO">
		INSERT INTO
		NOTICE_INFO
		(
		TITLE, NOTICE_YN, CONTENTS, USER_NO,
		REG_USER_NO, REG_DT, CHG_USER_NO, CHG_DT
		)
		VALUES(
		#{title}, #{notice_yn}, #{contents}, #{user_no}, #{user_no}, NOW(), #{user_no},
		NOW()
		)
	</insert>
	
	<!-- 게시글 상세 쿼리 -->
	<select id="getNoticeDetailInfo" resultType="NoticeDTO" parameterType="NoticeDTO">
		SELECT NOTICE_NO,
		N.TITLE, N.CONTENTS, N.NOTICE_YN , N.REG_USER_NO, DATE_FORMAT(N.REG_DT,
		'%Y-%m-%d %T') AS REG_DT, 
		N.CHG_USER_NO, N.CHG_DT, U.USER_NAME FROM NOTICE_INFO N
		JOIN USER_INFO U ON N.USER_NO = U.USER_NO
		WHERE NOTICE_NO=#{notice_no}
		ORDER BY NOTICE_YN, REG_DT DESC
	</select>
	
	<!-- 게시글 삭제 쿼리 -->
	<update id="deleteNoticeInfo" parameterType="NoticeDTO">
		DELETE FROM
		NOTICE_INFO
		WHERE NOTICE_NO = #{notice_no}
	</update>
	
	<!-- 게시글 체크박스 삭제 쿼리  -->
	<update id="deleteCheckList" parameterType="NoticeDTO">
		DELETE FROM
		NOTICE_INFO
		WHERE NOTICE_NO IN
		<foreach  separator="," open="(" close=")" collection="allCheckSeq"
			index="index" item="item"> #{item}
		</foreach>
	</update>

	<!-- 게시글 수정 쿼리 -->
	<update id="updateNoticeInfo" parameterType="NoticeDTO">
		UPDATE NOTICE_INFO
		SET TITLE=#{title}, CONTENTS=#{contents}, NOTICE_YN=#{notice_yn},
		CHG_DT=NOW() WHERE NOTICE_NO = #{notice_no}
	</update>

	<!-- 게시글 더보기 쿼리 -->
	<select id="getNotice_MoreView" resultType="NoticeDTO" parameterType="NoticeDTO"	>
		SELECT NOTICE_NO,
		N.TITLE, N.CONTENTS, N.NOTICE_YN , N.REG_USER_NO, N.REG_DT,
		N.CHG_USER_NO, N.USER_NO, N.CHG_DT, U.USER_NAME
		FROM NOTICE_INFO N
		JOIN USER_INFO U ON N.USER_NO=U.USER_NO 
		<if test='search!=""'>AND TITLE LIKE CONCAT('%', #{search}, '%')</if>
		ORDER BY N.NOTICE_YN, N.NOTICE_NO DESC
		LIMIT 6 OFFSET ${read_more};
	</select>

	<!-- 게시글 검색 쿼리 -->
	<select id="getSearchList" resultType="NoticeDTO" parameterType="NoticeDTO">
		SELECT N.NOTICE_NO, N.NOTICE_YN, N.TITLE, N.USER_NO, N.REG_USER_NO, DATE_FORMAT(N.REG_DT, '%Y-%m-%d %T') AS REG_DT, U.USER_NAME
	    FROM NOTICE_INFO N
	    JOIN USER_INFO U ON N.USER_NO=U.USER_NO 
	    WHERE N.TITLE LIKE CONCAT('%', #{search}, '%')
	 	ORDER BY N.NOTICE_YN ASC, N.NOTICE_NO DESC
	 	LIMIT 6;
	</select>
	
</mapper>