<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sports.persistance.mapper.QAMapper">

	<!-- 게시글 목록 쿼리 -->
	<select id="getQAList" resultType="QADTO">
		SELECT QA.QA_NO, QA.Q_NO, QA.ANSWER_YN, QA.SECRET_YN, QA.TITLE, QA.REG_USER_NO, USER.USER_NAME, DATE_FORMAT(QA.REG_DT, '%Y-%m-%d %T') AS REG_DT, QA.PARENT_USER_NO 
	    FROM QA_INFO QA, USER_INFO USER
	    WHERE USER.USER_NO = QA.REG_USER_NO
	 	ORDER BY QA.Q_NO DESC, QA.ANSWER_YN ASC
	 	LIMIT 6;
	</select>
	
	<!-- 게시글 등록 쿼리 -->
	<insert id="insertQADetail" parameterType="QADTO">
		INSERT INTO QA_INFO
		(QA_NO, Q_NO, ANSWER_YN, SECRET_YN, TITLE, CONTENTS, FILE_NAME, FILE_ORG_NAME, FILE_PATH, REG_USER_NO, REG_DT)
		VALUES
		(
		(SELECT IFNULL(MAX(QA.QA_NO),10000000)+1 FROM QA_INFO QA), (SELECT IFNULL(MAX(QA.Q_NO),10000000)+1 FROM QA_INFO QA), 
		'N', #{secret_yn}, #{title}, #{contents}, #{file_name}, #{file_org_name}, #{file_path}, #{reg_user_no}, NOW() 
		)
	</insert>
	
	<!-- 게시글 상세 쿼리 -->
	<select id="getQADetail" resultType="QADTO" parameterType="QADTO">
		SELECT QA.QA_NO, QA.Q_NO, QA.ANSWER_YN, QA.SECRET_YN, QA.TITLE, QA.CONTENTS, QA.FILE_NAME, QA.FILE_ORG_NAME, QA.FILE_PATH, QA.REG_USER_NO, USER.USER_NAME, DATE_FORMAT(QA.REG_DT, '%Y-%m-%d %T') AS REG_DT
	    FROM QA_INFO QA, USER_INFO USER
	    WHERE QA.QA_NO = #{qa_no} AND QA.REG_USER_NO = USER.USER_NO
	</select>
	
	<!-- 	
	<select id="getAdminQADetail" resultType="QADTO" parameterType="QADTO">
		SELECT QA.QA_NO, QA.Q_NO, QA.ANSWER_YN, QA.SECRET_YN, QA.TITLE, QA.CONTENTS, QA.FILE_NAME, QA.FILE_ORG_NAME, QA.FILE_PATH, QA.REG_USER_NO, USER.USER_NAME, DATE_FORMAT(QA.REG_DT, '%Y-%m-%d %T') AS REG_DT
	    FROM QA_INFO QA, USER_INFO USER
	    WHERE QA.QA_NO = #{qa_no} AND QA.REG_USER_NO = USER.USER_NO
	</select>
	

	<select id="getCustomerQADetail" resultType="QADTO" parameterType="QADTO">
		SELECT QA.QA_NO, QA.Q_NO, QA.ANSWER_YN, QA.SECRET_YN, QA.TITLE, QA.CONTENTS, QA.FILE_NAME, QA.FILE_ORG_NAME, QA.FILE_PATH, QA.REG_USER_NO, USER.USER_NAME, DATE_FORMAT(QA.REG_DT, '%Y-%m-%d %T') AS REG_DT
	    FROM QA_INFO QA, USER_INFO USER
	    WHERE QA.Q_NO = #{q_no} AND QA.REG_USER_NO = USER.USER_NO
	</select> -->
	
	<!-- 게시글 수정 쿼리(파일 X) -->
	<update id="updateQADetailNoImg" parameterType="QADTO">
		UPDATE QA_INFO
		SET SECRET_YN = #{secret_yn},	
			TITLE = #{title},
			CONTENTS = #{contents},
			CHG_USER_NO = #{reg_user_no},
			CHG_DT = NOW()
		WHERE QA_NO = #{qa_no} AND ANSWER_YN = 'N'
	</update>
	
	<!-- 게시글 수정 쿼리(파일 O) -->
	<update id="updateQADetailImg" parameterType="QADTO">
		UPDATE QA_INFO
		SET SECRET_YN = #{secret_yn},	
			TITLE = #{title},
			CONTENTS = #{contents}, 
			FILE_NAME = #{file_name}, 
			FILE_ORG_NAME = #{file_org_name}, 
			FILE_PATH = #{file_path},  
			CHG_USER_NO = #{reg_user_no},
			CHG_DT = NOW()
		WHERE QA_NO = #{qa_no} AND ANSWER_YN = 'N'
	</update>

	<!-- 게시글 삭제 쿼리 -->
	<delete id="deleteQADetail" parameterType="QADTO">
		DELETE FROM QA_INFO
		WHERE Q_NO = #{q_no} 
	</delete>
	
	<!-- 게시글&답글 체크박스 삭제 쿼리 -->
	<delete id="deleteQAList" parameterType="QADTO">
		DELETE FROM QA_INFO
		WHERE QA_NO IN
		<foreach close=")" separator="," open="(" collection="allCheckSeq"
			index="index" item="item"> #{item}
		</foreach>
	</delete>
	
	<!-- 답글 등록 쿼리 -->
	<insert id="insertQAAnswerDetail" parameterType="QADTO">
		INSERT INTO QA_INFO
		(QA_NO, Q_NO, ANSWER_YN, SECRET_YN, TITLE, CONTENTS, FILE_NAME, FILE_ORG_NAME, FILE_PATH, REG_USER_NO, REG_DT, PARENT_USER_NO)
		VALUES
		(
		(SELECT IFNULL(MAX(QA.QA_NO),10000000)+1 FROM QA_INFO QA), #{q_no}, 'Y', #{secret_yn}, #{title}, #{contents}, #{file_name}, #{file_org_name}, #{file_path}, #{reg_user_no}, NOW(), #{parent_user_no}
		)
	</insert>
	
	<!-- 답글 상세 쿼리 -->
	<select id="getQAAnswerDetail" resultType="QADTO" parameterType="QADTO">
		SELECT QA.QA_NO, QA.Q_NO, QA.ANSWER_YN, QA.SECRET_YN, QA.TITLE, QA.CONTENTS, QA.FILE_NAME, QA.FILE_ORG_NAME, QA.FILE_PATH, QA.REG_USER_NO, USER.USER_NAME, DATE_FORMAT(QA.REG_DT, '%Y-%m-%d %T') AS REG_DT
	    FROM QA_INFO QA, USER_INFO USER
	    WHERE QA.QA_NO = #{qa_no} AND QA.REG_USER_NO = USER.USER_NO
	</select>
	
	<!-- 답글 수정 쿼리(파일 X) -->
	<update id="updateQAAnswerDetailNoImg" parameterType="QADTO">
		UPDATE QA_INFO
		SET	SECRET_YN = #{secret_yn},
			TITLE = #{title},
			CONTENTS = #{contents},
			CHG_USER_NO = #{reg_user_no},
			CHG_DT = NOW()
		WHERE QA_NO = #{qa_no} AND ANSWER_YN = 'Y'
	</update>
	
	<!-- 답글 수정 쿼리(파일 O) -->
	<update id="updateQAAnswerDetailImg" parameterType="QADTO">
		UPDATE QA_INFO
		SET	SECRET_YN = #{secret_yn},
			TITLE = #{title},
			CONTENTS = #{contents},
			FILE_NAME = #{file_name}, 
			FILE_ORG_NAME = #{file_org_name}, 
			FILE_PATH = #{file_path}, 
			CHG_USER_NO = #{reg_user_no},
			CHG_DT = NOW()
		WHERE QA_NO = #{qa_no} AND ANSWER_YN = 'Y'
	</update>
	
	<!-- 답글 삭제 쿼리 -->
	<delete id="deleteQAAnswerDetail" parameterType="QADTO">
		DELETE FROM QA_INFO
		WHERE QA_NO = #{qa_no} AND ANSWER_YN = 'Y'
	</delete>
	
	<!-- 게시글&답글 더보기 쿼리 -->
	<select id="getQAMoreView" resultType="QADTO" parameterType="QADTO">
		SELECT QA.QA_NO, QA.Q_NO, QA.ANSWER_YN, QA.SECRET_YN, QA.TITLE, QA.REG_USER_NO, USER.USER_NAME, DATE_FORMAT(QA.REG_DT, '%Y-%m-%d') AS REG_DT
	    FROM QA_INFO QA, USER_INFO USER
	    WHERE QA.REG_USER_NO = USER.USER_NO
	    <if test='search != ""'>WHERE QA.TITLE LIKE CONCAT('%', #{search}, '%')</if>
		ORDER BY QA.Q_NO DESC, QA.ANSWER_YN ASC
		LIMIT 6 OFFSET ${read_more};
	</select>
	
	<!-- 게시글&답글 검색 쿼리 -->
	<select id="getQASearchList" resultType="QADTO" parameterType="QADTO">
		SELECT QA.QA_NO, QA.Q_NO, QA.ANSWER_YN, QA.SECRET_YN, QA.TITLE, QA.REG_USER_NO, USER.USER_NAME, DATE_FORMAT(QA.REG_DT, '%Y-%m-%d') AS REG_DT
	    FROM QA_INFO QA, USER_INFO USER
	    WHERE QA.REG_USER_NO = USER.USER_NO AND QA.TITLE LIKE CONCAT('%', #{search}, '%') 
	 	ORDER BY QA.Q_NO DESC, QA.ANSWER_YN ASC
	 	LIMIT 6;
	</select>
	
</mapper>